@model Nop.Plugin.Reports.Merchandise.Models.TransactionModel
@{
    Layout = "";
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />
    <!script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></!script>
    <!link href="../../Plugins/Reports.Merchandise/Content/page.css" rel="stylesheet" />
</head>
<body classname="snippet-body" onpageshow="if(event.persisted) noBack()" ;>
  @*  <div class="container" style="    margin: auto;padding: 5px 0px;max-width: 100%;background-color: transparent;padding-top: 0px;">
        <nav class="navbar navbar-expand-lg navbar-light  mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    @if (T("Plugins.Payments.ENETS.Company").ToString() == "SingHealth")
                    {
                        <img src="~/Plugins/Reports.Merchandise/Content/head_logo.png" alt="logo" width="200px">
                    }
                    else
                    {
                        <img src="~/Plugins/Reports.Merchandise/Content/head_logo_nhg.png" alt="logo" width="200px">
                    }
                </a>

                <div class="collapse navbar-collapse" id="navbar-bar">
                </div>
            </div>
        </nav>
        <div class="container" style="background-color:transparent;">
            <form>
                <div class="d-flex flex-column align-items-center" style="border-bottom: 1px solid #d0c2c2;">
                    <div class="row p-0">
                        <div class="col-12 p-0 px-4 fs-4 fw-bold m-0 mt-4">
                            @if (Model.TransactionMsg.ToLower().Contains("payment declined"))
                            {
                                if (T("Plugins.Payments.ENETS.Company").ToString() == "SingHealth")
                                {
                                    <img src="~/Plugins/Reports.Merchandise/Content/declined.png" style="width: 118px;margin-top: 20px;">
                                }
                                else
                                {
                                    <img src="~/Plugins/Reports.Merchandise/Content/declined_nhg.png" style="width: 118px;margin-top: 20px;">
                                }
                            }
                            else
                            {
                                if (T("Plugins.Payments.ENETS.Company").ToString() == "SingHealth")
                                {
                                    <img src="~/Plugins/Reports.Merchandise/Content/card1.png" style="width: 118px;margin-top: 20px;">
                                }
                                else
                                {
                                    <img src="~/Plugins/Reports.Merchandise/Content/card1_nhg.png" style="width: 118px;margin-top: 20px;">
                                }
                            }
                        </div>
                    </div>

                    @if (Model.TransactionMsg.ToLower().Contains("payment declined"))
                    {
                        <p class="fs-4 fw-bold m-0 mt-4"> Payment Declined </p>
                    }
                    else
                    {
                        <p class="fs-4 fw-bold m-0 mt-4"> Transaction failed </p>
                    }

                    @if (Model.TransactionMsg.ToLower().Contains("payment declined"))
                    {
                        <span class="text-muted" style="text-align: center;">
                            @Model.TransactionMsg. If<br>
                            Your money was debited,you should get a refund<br> within the next 24 hrs
                        </span>
                    }
                    else
                    {

                        <span class="text-muted" style="text-align: center;">
                            The transaction failed due to a techinical error. If<br>
                            Your money was debited,you should get a refund<br> within the next 24 hrs
                        </span>
                    }
                    <span class="line my-3"></span>
                </div>
                <div class="row p-0">
                    <div class="col-12 p-0 px-4" style="text-align: center;margin-bottom: 19px;margin-top: 10px;">
                        <span class="text-uppercase text-muted" style="
                     /* margin-top: 12px; */
                     ">@Model.TransactionDate<br>Transaction ID: @Model.MerchantTxnRef<br />Error: @Model.TransactionMsg<br /></span>
                    </div>@*06:34 AM, 11 Nov 2022*@
                   @* <div class="col-12 p-0 px-4">  </div>*@
                    @*<div class="col-6 p-0 px-4" style="
                        margin-bottom: 17px;">
                        <button style="font-size: 15px;width: 100%;padding: 9px;border: none;    border-radius: 0.25rem;"><i class="material-icons" style="margin-right: 7px;
                        margin-top: 1px;font-size: 17px;">content_copy</i>Copy Details</button>
                        </div>
                        <div class="col-6 p-0 px-4">
                        <button style="font-size: 15px;width: 100%;padding: 9px;border: none;    border-radius: 0.25rem;"><i class="material-icons" style="
                        margin-right: 10px;margin-top: 1px;font-size: 17px;">share</i>Share Transaction</button>
                        </div>*@
                   @* <div class="col-12 p-0 px-4" style="
                     padding-top: 15px !important;
                     ">
                        @if (T("Plugins.Payments.ENETS.Company").ToString() == "SingHealth")
                        {
                            <input class="btn btn-primary w-100" style="background-color: #f15a22;"
                               type="button" value="Back to Order information page" onclick="location.href='@Url.Action("BackToOrders", "PaymentENETS", new{orderId=@Model.OrderId})'" />
                        }
                        else
                        {
                            <input class="btn btn-primary w-100" style="background-color: #27348b;"
                               type="button" value="Back to Order information page" onclick="location.href='@Url.Action("BackToOrders", "PaymentENETS", new{orderId=@Model.OrderId})'" />
                        }
                        <div class="text-muted text-center mb-4 mt-3"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></!script>
    <!script type="text/javascript">
    var myLink = document.querySelector('a[href="#"]');
    myLink.addEventListener('click', function(e) {
    e.preventDefault();
    });
    </!script>
    <!script type="text/javascript">
        @*  function preventBack() { window.history.forward(); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };*@

  @*  window.onload = function () {
    noBack();
    }
    function noBack() {
    window.history.forward();
    }
    </!script>*@
</body>
</html>